<% if @items.present? %>
<table class="table table-hover">
    <thead>
        <tr>
          <th>Img</th>
          <th>Name</th>
          <th>Maker</th>
        </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr  class="checkbox_row" id="<%=item.id%>">
          <% if item.small_image.present? %>
          <td class='image_cell'>
            <i class="fas fa-check-circle fa-2x text-warning" style='display:none;'></i>
            <%= image_tag(item.small_image, style: "width: 100px;height: 100px;display: inline-block;") %>
          </td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= "#{item.name[0..20] ...}" %></td>
          <td><%= item.maker.name if item.maker.present? %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
