<h1 class='camp_id' id="<%= @camp.id %>">Myアイテムから追加</h1>
<div class='content'>
  <div id='item_list'>
    <% if @items.present? %>
      <%= render partial: 'my_item_list' %>
    <% else %>
      <h2> Myアイテムはまだありません</h2>
    <% end %>
    <div class='row justify-content-center'>
      <a class='add-item-button btn btn-outline-warning text-warning mx-2'>選択したアイテムを追加</a>
      <%= link_to 'キャンプ画面へ戻る', camp_path(@camp), class: 'btn btn-outline-light mx-2'%>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'table_add_item_to_camp' %>
