<h1>Myアイテムから追加</h1>
<div class='content'>
  <div id='item_list'>
    <% if @items.present? %>
      <%= render partial: 'my_item_list' %>
    <% else %>
      <h2> Myアイテムはまだありません</h2>
    <% end %>
    <div class='row justify-content-center'>
      <a><%= link_to '選択したアイテムを追加！', serch_user_items_path, class: 'btn btn-success'%></a>
    </div>
  </div>
</div>