<% if @items.present? %>
<div class="container container-m mt-3">
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-lg-3 col-sm-4 card-group">
          <div class="card justify-content-around bg-dark border border-secondary mb-3">
            <% if item.small_image.present? %>
              <%= image_tag(item.small_image, style: "width: 128px;height: 128px;", class: "card-img-top mx-auto d-block") %>
            <% end %>
            <div class="card-body">
              <p class="card-title"><%= "#{product_name(item.name)[0..20]}..." %></p>
              <p class="card-text text-white-50"><%= translate_maker_name(item.maker.name) if item.maker.present? %></p>
              <% if item.product_url.present? %>
                <%= link_to item.product_url, class: 'text-white-50', data: { confirm: '楽天で商品情報を確認しますか？' }, target: :_blank, rel: "noopener noreferrer" do %>
                  <i class="fas fa-external-link-alt fa-fw text-white-50"></i>商品HPをみる
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
<% end %>
