<div class='top-wrapper'>
  <div class='container'>
    <h1>Set Camp</h1>
    <div class='row justify-content-center'>
      <h1 class='btn btn-success mx-2'>キャンプをハジメル！</h1>
      <h1 class='btn btn-success mx-2'>キャンプをキロク！</h1>
    </div>
    <div class='row justify-content-center'>
      <h1 class='btn btn-success mx-2'>グッズをトウロク！</h1>
      <h1 class='btn btn-success mx-2'>みんなのキャンプ！</h1>
    </div>
  </div>
</div>
