<div class='top-wrapper'>
  <div class='container'>
    <h1>Set Camp</h1>
    <div class='row justify-content-center'>
      <h1 class='btn btn-success mx-2'>キャンプをハジメル！</h1>
      <a><%= link_to 'キャンプをキロク！', camps_path, class: 'btn btn-success mx-2' %></a>
    </div>
    <br>
    <div class='row justify-content-center'>
      <a><%= link_to 'アイテムをトウロク！', user_items_path, class: 'btn btn-success mx-2' %></a>
      <a><%= link_to 'みんなのキャンプ！', user_every_camp_index_path(current_user), class: 'btn btn-success mx-2' %></a>
    </div>
  </div>
</div>
