
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.name %>様</h3>
    <p>
      TAKiBEE.netのパスワード再設定のご依頼を受け付けました。<br>
      下記のリンクからパスワードを再設定してください。<br>
      <br>
      <%= link_to 'パスワードの再設定はこちらから', @url %>
    </p>
  </body>
</html>