<% if @camps.present? %>
<table class="table table-hover">
    <thead>
        <tr>
          <th>Img</th>
          <th>Title</th>
          <th>Area</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Url</th>
        </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
        <tr>
          <td></td>
          <td><%= camp.title %></td>
          <td></td>
          <td><%= camp.camped_on %></td>
          <td><%= camp.note %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
