<% content_for :title do%>
<%= t '.title' %>
<% end %>
  <div class='contain'>
    <a><%= link_to '＋キャンプを記録', new_camp_path, class: 'btn btn-outline-warning btn-block'%></a>
  </div>
  <div id='camp_list'>
    <% if @camps.present? %>
      <%= render partial: 'camp_cards_list' %>
    <% else %>
      <h2> キャンプのキロクはまだありません</h2>
    <% end %>
  </div>
