<% set_meta_tags title: "#{t '.title'}" %>
<% content_for :title do%>
<%= t '.title' %>
<% end %>
  <div class='container'>

    <div id='camp_list'>
      <% if @camps.present? %>
        <a><%= link_to '＋キャンプを記録', new_camp_path, class: 'btn btn-outline-warning btn-block'%></a>
        <%= render partial: 'camp_cards_list' %>
      <% else %>
        <p class='text-center text-warning pt-3'>キャンプのキロクはまだありません</p>
        <a><%= link_to '＋キャンプを記録', new_camp_path, class: 'btn btn-outline-warning btn-block'%></a>
      <% end %>
    </div>
  </div>
