<h1>Myアイテム</h1>
<div class='content'>
  <div id='camp_list'>
    <% if @camps.present? %>
      <%= render partial: 'camp_list' %>
    <% else %>
      <h2> キャンプのキロクはまだありません</h2>
    <% end %>
    <div class='row justify-content-center'>
      <a><%= link_to 'キャンプをキロクする！', new_camp_path, class: 'btn btn-success'%></a>
    </div>
  </div>
</div>