<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='col-md-12 text-right'>
          <%= link_to '利用規約', '/terms', class: 'text-light text-right'%>
          <%= link_to 'プライバシーポリシー', '/privacy_policy', class: 'text-light text-right'%>
          <p class='text-right'>© 2021. TAKIBee</p>
        </div>
      </div>
    </div>
  </div>
</footer>