<%= link_to user_every_camp_likes_path(current_user,camp),
            id: "js-like-button-#{camp.id}",
            method: :post,
            class: "float-right",
            remote: true do %>
  <div class="heart">
    <span class="heart_hover">いいね!の火を灯す</span>
  </div>
<% end %>
