<!-- modal -->
<div id="modal01" class="c-modal js-modal">
  <div class="c-modal_bg js-modal-close">
  </div>
  <div class="c-modal_content _md">
    <div class="c-modal_content_inner">
      <div class="row">
        <div class="col">
          <a class="js-modal-close c-modal_close" href="">
          <span><i class="far fa-times-circle fa-lg"></i></span>
          </a>
          <br>
          <div id="modal_image_box">
            <div class="bigimg"><img src="" alt="" class="d-block mx-auto" style="width:90%;"></div>
            <!--ここにモーダルウィンドウの内容が入ります-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./modal -->
