<% set_meta_tags title: "#{t '.title'}" %>
<% content_for :title do%>
<%= t '.title' %>
<% end %>
<div class='container'>
  <div class='jscroll_list'>
    <div id='camp_list' class='jscroll pb-5'>
      <% if @camps.present? %>
        <%= render 'camp_list', {camps: @camps} %>
      <% else %>
        <h2> キャンプのキロクはまだありません</h2>
      <% end %>
    </div>
    <div class="insert_pagenation">
      <%= link_to_next_page @camps , '＋もっと見る', class: "next btn btn-outline-warning col-md-9", id: 'next', remote: true %>
    </div>
  </div>
  <%= render partial: 'modal' %>
</div>
