<% content_for :title do%>
<%= t '.title' %>
<% end %>
<div class='container'>
  <div id='camp_list'>
    <% if @camps.present? %>
      <%= render partial: 'camp_list' %>
    <% else %>
      <h2> キャンプのキロクはまだありません</h2>
    <% end %>
    <%= render partial: 'modal' %>
  </div>
</div>