<input type="text" size="55" id="search" placeholder="キャンプ場・施設で検索 (例:神奈川　キャンプ場)" />
<input type="button" size="55" name= "search" value="検索" id="search_btn" class="btn btn-success"/>
<br>
<div id="map_canvas" style="width: 500px;height: 350px;"></div>


<div class="table table-hover" id="table">
</div>
<%= javascript_pack_tag 'camp/map' %>
