/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "camp";
@import "user";
@import "likes";
@import "camp_items";
@import 'user_items';
//@import 'admin-lte/plugins/fontawesome-free/css/all.min';
@import 'admin-lte/dist/css/adminlte.min';


body {
  padding-top: 57px;
}

/* タブの色変更 */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #ffc107;
}

.swiper-container {
  max-width: 100%;
  height: 330px;
  position: relative;
}

.swiper-button-prev{
  position: absolute;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: white; //ここに変更する色を指定
}

/* 全体のスタイル */
.swiper-pagination-bullet {
	--swiper-theme-color: white;
}
/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  --swiper-theme-color: white;
}

/* サイドバーactiveタブの色変更 */
.active-nav-item {
  background: #ffc107;
}

.avatar-image-box img{
  width:200px;
	height:200px;
	object-fit:cover;
	border-radius:50%;
}