// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.heart {
  width: 60px;
  height: 60px;
  background: url(heart_animation.png) no-repeat;
  background-size: 2800*0.6px 100*0.6px;
  background-position: 0 0;
  cursor: pointer;
}

//アニメーションの開始と終了の定義
@keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

//HeartAnimationクラスを持つ要素へアニメーションを付与
.HeartAnimation {
  display: inline-block;
  background-position: right;
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
}

//hoverで表示
.heart {
  position: relative;                  /* 指定した分だけ相対的に移動 */
}
.heart:hover .heart_hover {
  transition: 0.8s;                 /* インライン要素として表示 */
  display: inline;
  background-color: rgba(12, 12, 12, 0.6) ;  /* 背景色（透明度） */
  color: rgba(255, 255, 255, 0.8);
}
 /* --- 吹き出し ------------------ */
.heart_hover {
  //display: none;                        /* 要素を非表示 */
  position: absolute;                   /* 親要素を基準 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(12, 12, 12, 0.0) ;  /* 背景色（透明度） */
  width:200%;                          /* 吹き出し全体の幅 */
  left : -30%;                           /* 表示位置 */
  top : 80%;                           /* 表示位置 */
  //margin-top : 12px;                    /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
  color: rgba(255, 255, 255, 0.0);
}

.heart_count {
  position: absolute;                   /* 親要素を基準 */
  right : 0;                           /* 表示位置 */
  top : 15px;                           /* 表示位置 */
  color: rgb(148, 147, 145);
}

.heart:hover .heart_count {
  color: rgb(226, 140, 28);
  transition: 0.5s;
}